body {
  display: grid;

  grid-template-areas: "title header"
                       "content content"
                       "footer footer";
}

#title {
  grid-area: title;
}

#header {
  grid-area: header;
  position: sticky;
}

#content {
  grid-area: content;
}

#slideshow {
  background: black;
}

#slideshow img {
  width: 100%;
}

#slideshow .slide {
  opacity: 0;
  transition: transform 2s ease-in-out;
  transition-property: opacity;
}
#slideshow .slide.show {
  opacity: 1;
}

#footer {
  grid-area: footer;
}
