body {
  display: grid;

  grid-template-areas: "title header"
                       "content content"
                       "footer footer";
}

a {
  color: #4078f2;
}

#title {
  grid-area: title;
}

#header {
  grid-area: header;
  position: sticky;
}

#content {
  grid-area: content;
}

#slideshow {
  background: black;
}

#slideshow img {
  width: 100%;
}

#slideshow .slide {
  opacity: 0;
  transition: transform 2s ease-in-out;
  transition-property: opacity;
}
#slideshow .slide.show {
  opacity: 1;
}

#footer {
  grid-area: footer;
}


.button {
  color: #fff;
  background-color: #000;
  width: 100%;
  display: block;
  text-align: center;
  padding: .5em;
  text-decoration: none;
}

.button:hover,
.button:focus {
  color: #000;
  background-color: #ccc;
}

.section-center {
  max-width: 1024px;
  margin: 0 auto;
}

#characteristics {
  text-align: center;
}

#characteristics h2 {
  padding: .5em;
  display: block;
  color: white;
  background: black;
  text-align: center;
}

#components {
  background: black;
  padding: 2em;
  color: white;
  text-align: center;
}

.row {
  display: flex;
}

.row .item {
  flex-grow: 1;
  width: 100%;
}

.row .item img {
  width: 100%;
}
